@import '../animations.scss';

.hero {
  @apply relative z-0 w-screen h-screen flex px-44 justify-center space-x-10 items-center;

  animation-duration: 2s;
  animation-name: fadeInUp;
  animation-iteration-count: 1;

  &__avatar {
    @apply w-full h-full flex justify-center align-middle items-center;
    max-width: 25em;
    min-width: 12.5em;

    svg {
      @apply w-full h-full;
    }
  }

  &__cta {
    @apply relative flex flex-col space-y-3 justify-center;
  
    h1 {
      @apply font-body font-bold text-3xl text-quaternary;
    }
  
    h2 {
      @apply font-body text-lg text-tertiary;
    }
  
    p {
      @apply font-body text-lg text-quaternary;
    }
  }

  &__cta__links {
    @apply flex space-x-4;

    a {
      @apply cursor-pointer;
    }

    svg {
      @apply w-8 h-auto fill-tertiary;
    }
  }
  
  @media screen and (max-width: 35em) {
    @apply flex-col space-x-0 space-y-4 h-screen justify-center;

    &__avatar {
      @apply w-full;
    }

    &__cta {
      @apply relative flex flex-col space-y-3 justify-center;
    
      h1 {
        @apply font-body font-bold text-2xl text-quaternary;
      }
    
      h2 {
        @apply text-base;
      }
    
      p {
        @apply text-base;
      }
    }
  }

  @media screen and (max-width: 64em) {
    @apply p-9 flex-wrap w-auto h-auto space-y-4 space-x-0;

    &__avatar {
      @apply w-auto h-auto;
    }
  }
}