.navbar {
  @apply relative flex items-center justify-between px-44 py-8 z-20;

  &__logo {
    @apply relative justify-self-start w-full;
  }

  &__menu {
    @apply flex gap-x-8 p-0 m-0 text-right;  
  }

  &__menu__link {
    @apply text-quaternary font-body font-bold;
  } 

  @media screen and (max-width: 48em) {
    @apply py-8 px-8;

    &__menu {
      @apply bg-secondary flex-col fixed gap-x-0 py-20 px-8 text-base z-20;
      @apply translate-x-[100%] text-right;
    }

    &__menu__active {
      inset: 0 0 0 30%;
      filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.35));
      @apply bg-secondary flex-col fixed gap-x-0 gap-y-1 py-20 px-8 text-base z-20 text-right;
      @apply -translate-x-[0%] duration-1000 ease-in-out;
    }

    &__hamburger {
      @apply w-screen z-50 relative flex justify-end items-center cursor-pointer duration-500 ease-in-out;
    }
  
    &__hamburger__line {
      @apply w-7 h-1 bg-tertiary duration-500 ease-in-out;
    
      &::before,
      &::after {
        content: '';
        @apply absolute w-7 h-1 bg-tertiary duration-500 ease-in-out;
      }
    
      &::before {
        @apply -translate-y-2.5;
      }
    
      &::after {
        @apply translate-y-2.5;
      }
    }
  
    &__hamburger__line__active {
      @apply w-7 h-1 duration-500 ease-in-out bg-none -translate-x-12;
    
      &::before,
      &::after {
        content: '';
        @apply absolute w-7 h-1 bg-tertiary duration-500 ease-in-out;
      }
    
      &::before {
        @apply rotate-45 translate-x-12;
      }
    
      &::after {
        @apply -rotate-45 translate-x-12;
      }
    }  
  }
}